{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" style="max-width: 300px;">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <label for="username" class="form-label">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="input" />

    <label for="password" class="form-label">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="input" />

    <div class="d-flex flex-row align-items-center">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me" class="form-label">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    <a href="/register" style="margin: 3px 0;">Register</a>
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn" />
</form>
