{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" style="max-width: 300px;">
    <div class="d-flex flex-column">
        <label for="username" class="form-label">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" class="input" />
    </div>
    <div>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn" />
    </div>
</form>
