{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form with 'forms/my-form-theme.html.twig' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn" />
    </div>
{{ form_end(form) }}
