body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 1px 1px 5px 1px #d8d6d6;
    padding: 10px;
    margin: 5px 0;
}

@media screen and (min-width: 700px) {
    .todo-container {
        width: 700px;
    }
}

@media screen and (max-width: 700px) {
    .todo-container {
        width: 99%;
    }
}

.spacer {
    margin: 7px 0;
}

.todo-done {
    color: #949494;
}

.todo-done .todo-text {
    text-decoration: line-through;
}

.paginator {
    display: flex;
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
    padding: 0;
    overflow: hidden;
}

.page-link {
    text-decoration: none;
    color: #000;
    display: block;
    min-width: 20px;
    min-height: 24px;
    line-height: 24px;
    text-align: center;
}

.page-link.active, .page-link.active:hover {
    color: #fff;
    background: #3249b7;
}

.page-link:hover {
    background-color: #ccc;
}

.paginator > .page-link:last-child {
    border-right: none;
}

.todo-text {
    padding: 10px 3px;
}

.todo-controls {
    display: flex;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.todo-controls .btn {
    border: none;
    border-right: 1px solid #ccc;
    border-radius: 0;
}

.todo-controls .btn:first-child {
    min-width: 110px;
}

.todo-controls .btn:last-child {
    border: none !important;
}

.btn {
    border-radius: 4px;
    display: block;
    text-decoration: none;
    color: black;
    padding: 4px 8px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.btn-success {
    background-color: #4c8e2a;
    color: #fff;
}

.btn-warning {
    background-color: #eaf512;
}

.btn-danger {
    background-color: #fb7a7a;
    color: #fff;
}

#add {
    margin: 10px 0 8px 0;
}

.btn:hover {
    background-color: #e6e6e6;
}

.btn-warning:hover {
    background-color: #ced80e;
}

.btn-danger:hover {
    background-color: #da6c6c;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    width: 100%;
}

.form-label {
    color: #545151;
    margin: 4px 2px;
}

div.container > form > div:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.input {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: #888888;
    padding: 6px;
    margin: 3px;
}

.input.textarea {
    width: 100%;
    min-height: 200px;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.textarea-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    height: 50px;
    box-shadow: 1px 0 10px 1px #ccc;
    list-style-type: none;
    margin: 0;
}

.menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 9px;
}

.menu li a {
    color: #444;
    text-decoration: none;
}

.menu li a:hover {
    color: #000;
}

/* Helpers */
.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}
