<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    </head>
    <body>
        <div class="container">
            <ul class="menu">
                <li><a href="/add">Add New ToDo</a></li>
                <li><a href="/">My ToDos</a></li>
                <li><a href="/logout">{{ '@' ~ app.user.username }} logout</a></li>
            </ul>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
