{% extends 'base.html.twig' %}
{% block title %}ToDo -New todo{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <div id="textarea-container" style="width: 100%">
        {{ form_row(form.text, {'label': 'Contents', 'attr': {'class': 'input textarea'}, 'label_attr': {'class': 'form-label d-block'}}) }}
    </div>
    {{ form_row(form.isDone, {'label': 'Done', 'attr': {'class': 'checkbox'}, 'label_attr': {'class': 'form-label d-block'}}) }}
    {{ form_row(form.save, {'label': 'Submit', 'attr': {'class': 'btn'}}) }}
    {{ form_end(form) }}
{% endblock %}