{% extends 'base.html.twig' %}
{% block title %}ToDo - {{ count }} items{% endblock %}
{%  block body %}
<div class="spacer"></div>
{% for todo in todos %}
    <div class="todo-container {{ todo.isDone ? 'todo-done' : 'todo-undone' }}">
        <div class="todo-text">{{ todo.text }}</div>
        <div class="todo-controls">
            {% if todo.isDone == false %}
                <a href="/done/{{ todo.id }}" class="btn">Mark as Done</a>
            {% else %}
                <a href="/done/{{ todo.id }}" class="btn">Mark as Undone</a>
            {% endif %}
            <a href="/edit/{{ todo.id }}" class="btn">Edit</a>
            <a href="/delete/{{ todo.id }}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% else %}
    <h2>Nothing here. <a href="/add">Add new todo</a>.</h2>
{% endfor %}
{% if count != 0 %}
    <div class="paginator">
        {% for page in pages %}
            <a class="page-link{{ currentPage == page ? ' active' : '' }}" href="/{{ page }}">{{ page }}</a>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}